*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
}

a{
  text-decoration: none;
  color: #fff;
}

body {
  overflow: hidden;
  overflow-y: scroll;
  color: #fff;
}
